$photo-margin-bottom: 5px;
$thumb-img-width: 108px;
$thumb-img-height: 75px;
#itsy-photos {
    .photo {
        margin-bottom: $photo-margin-bottom;
        img {
            width: 100%;
        }
    }
    ul.thumbs {
        li {
            padding-right: 0;
            padding-bottom: 5px;
            a.thumb {
                img {
                    width: $thumb-img-width;
                    height: $thumb-img-height;
                    object-fit: cover;
                }
            }
        }
    }
}