<div id='itsy-landing'>
    <!--
  <div uib-carousel active='$ctrl.active' interval='$ctrl.interval'>
    <div uib-slide ng-repeat='slide in $ctrl.slides track by slide.id' index='slide.id'>
      <img ng-src='{{slide.src}}' style='margin:auto;'>
      <h1>{{slide.id}}</h1>
      <h1>{{slide.src}}</h1>
    </div>
  </div>
  -->
    <div class='hero-block'>
        <navbar simple='true'></navbar>
        <h1>Forklift Space</h1>
        <div class='img-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233613/forker/_/hero.jpg' alt='hero' /> </div>
    </div>
    <div class='landing-block about-block'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-5'>
                    <div class='img-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233580/forker/_/about.jpg' alt='listing' /> </div>
                </div>
                <div class='col-sm-6 col-sm-offset-1'>
                    <h1>We help you sell Forklifts!</h1>
                    <p class='lead'> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <dl> <dt>Ut enim</dt>
                        <dd>Ut enim ad minim veniam quis</dd> <dt>Sej auoi kliy</dt>
                        <dd>Duis aute irure dolor in reprehenderit in voluptate</dd> <dt>Pold ionm ilot</dt>
                        <dd>Excepteur sint occaecat cupidatat non proident</dd> <dt>Asut ilot guin</dt>
                        <dd>Sed ut perspiciatis unde omnis iste natus</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class='landing-block testimonial-block'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-3 col-sm-offset-1'>
                    <p class='lead'> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sunt, dolore repellat, modi suscipit nulla error molestiae sint, quos deserunt eaque beatae ea harum, tenetur quidem animi excepturi voluptatibus! Rerum." </p>
                </div>
                <div class='col-sm-3 col-sm-offset-1'>
                    <p class='lead'> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sunt, dolore repellat, modi suscipit nulla error molestiae sint, quos deserunt eaque beatae ea harum, tenetur quidem animi excepturi voluptatibus! Rerum." </p>
                </div>
                <div class='col-sm-3 col-sm-offset-1'>
                    <p class='lead'> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sunt, dolore repellat, modi suscipit nulla error molestiae sint, quos deserunt eaque beatae ea harum, tenetur quidem animi excepturi voluptatibus! Rerum." </p>
                </div>
            </div>
        </div>
    </div>
    <div class='landing-block selling-block'>
        <div class='container'>
            <h1>Selling is Simple!</h1>
            <p class='lead'>Three simple steps!</p>
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233606/forker/_/camera.svg' alt='camera' /> </div>
                    <h3>Snap</h3>
                    <p> Take a picture with your mobile phone or a traditional camera. </p>
                </div>
                <div class='col-sm-4'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233611/forker/_/keyboard.svg' alt='keyboard' /> </div>
                    <h3>Details</h3>
                    <p> Input the details of the forklift you wish to sell. Don't forget the price! </p>
                </div>
                <div class='col-sm-4'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233611/forker/_/dollar.svg' alt='dollar' /> </div>
                    <h3>Publish</h3>
                    <p> Once you are happy, publish it! Interested buyers will start contacting you. </p>
                </div>
            </div>
        </div>
    </div>
    <div class='landing-block brand-block'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/jungheinrich.svg' alt='jungheinrich' /> </div>
                </div>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/linde.svg' alt='linde' /> </div>
                </div>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/hyster.svg' alt='hyster' /> </div>
                </div>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/caterpillar.svg' alt='caterpillar' /> </div>
                </div>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/mitsubishi.svg' alt='mitsubishi' /> </div>
                </div>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/nissan.svg' alt='nissan' /> </div>
                </div>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/toyota.svg' alt='toyota' /> </div>
                </div>
                <div class='col-sm-3 col-xs-6'>
                    <div class='icon-wrapper'> <img src='http://res.cloudinary.com/itsykumo/image/upload/v1494233593/forker/_/yale.svg' alt='yale' /> </div>
                </div>
            </div>
        </div>
    </div>
</div>