@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin three-d() {
    -webkit-box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.5);
}

@mixin no-user-select() {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin box-shadow($shadow1, $shadow2:false) {
    $params: $shadow1;
    @if $shadow2 {
        $params: $shadow1, $shadow2;
    }
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box; // stops bg color from leaking outside the border
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); // IE8
}

@mixin grayscale() {
    -webkit-filter: grayscale(100%); // Safari 6.0 - 9.0
    filter: grayscale(100%);
}