<div id='itsy-colorChart'>
    <ul class='list-unstyled'>
        <li class='color-white'></li>
        <li class='color-neutral-lightest'></li>
        <li class='color-neutral-lighter'></li>
        <li class='color-neutral-light'></li>
        <li class='color-neutral'></li>
        <li class='color-neutral-dark'></li>
        <li class='color-neutral-darker'></li>
        <li class='color-neutral-darkest'></li>
        <li class='color-black'></li>
        <li class='color-hero-lightest'></li>
        <li class='color-hero-lighter'></li>
        <li class='color-hero-light'></li>
        <li class='color-hero'></li>
        <li class='color-hero-dark'></li>
        <li class='color-hero-darker'></li>
        <li class='color-hero-darkest'></li>
        <li class='color-alt-lightest'></li>
        <li class='color-alt-lighter'></li>
        <li class='color-alt-light'></li>
        <li class='color-alt'></li>
        <li class='color-alt-dark'></li>
        <li class='color-alt-darker'></li>
        <li class='color-alt-darkest'></li>
    </ul>
</div>