$input-color: #fff;
#itsy-mail {
    form {
        .formly-field {
            margin-bottom: 0;
            .form-group {
                margin-bottom: 4px;
                input,
                textarea {
                    border: unset;
                    background: #2c3536;
                    color: $input-color;
                }
            }
        }
    }
    .buttons {
        margin-top: 20px;
    }
}